<form class="login" [formGroup]='loginForm' (ngSubmit)="onSubmit()">
  <div class="login__email">
    <label class="login__email__label" for="email">E-mail:</label>
    <input type="email" id="email" name="email" formControlName="email" aria-label="E-mail">
    <span *ngIf="(loginForm.controls.email.invalid && loginForm.controls.email.touched)" class="text-error">Insira um email válido!</span>
  </div>
  <div class="login__password">
    <label class="login__password__label" for="password">Senha:</label>
    <input type="password" id="password" name="password" formControlName="password" aria-label="Senha">
    <span *ngIf="(loginForm.controls.password.invalid && loginForm.controls.password.touched)" class="text-error">Senha obrigatória!</span>
  </div>
  <div class="login__submit">
    <button>
      <span *ngIf="!loader">Entrar</span> 
      <app-loader *ngIf="loader"></app-loader>
    </button>
  </div>
  <div class="login__register">
    <span>Não possui conta? <a class="" [routerLink]="['/register']" >Cadastre-se</a></span>
  </div>
</form>
