<main class="register">
  <section class="register__container register__form">
    <div class="register__container__header">
      <div class="register__container__header__back">
        <a routerLink="/"><fa-icon class="backIcon" [icon]="faArrowLeft" aria-hidden="true"></fa-icon> Voltar</a>
      </div>
      <h1 class="register__container__header__title">Registre-se agora!</h1>
      <span class="register__container__header__subtitle">Falta pouco para desfrutar de todas as funcionalidades que temos para oferecer.</span>
    </div>
  
    <div class="register__container__content">
      <app-register-form mode="cliente"></app-register-form>
    </div>
  </section>

  <section class="register__container register__logoContainer">
    <img class="register__logoContainer__logo" src="assets/images/main-logo.png" alt="Logo barberttoo">
  </section>
</main>