<main class="container">
  <div class="container__header">
    <h1 class="container__header__title">Agendamentos</h1>

    <a routerLink="create" class="container__header__novoAgd">
      novo agendamento
    </a>
  </div>

  <div class="container__loading" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>

  <div class="container__cards" *ngIf="!isLoading">
    <p *ngIf="agendamentos.length === 0">Não existe nenhum agendamento realizado no momento.</p>
    <app-card 
      *ngFor="let agendamento of agendamentos; let i = index"
      [agendamento]="agendamento"></app-card>
  </div>
</main>