@import '../../../../../assets/scss/0-base/colors';

.register {
  max-width: 480px;
  width: 100%;

  .formgroup {
    padding-top: 16px;

    &__label {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 600;
    }

    input, select {
      margin-top: 8px;
      height: 48px;
      width: 100%;
      background: $input-background;
      border-radius: 8px;
      box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
      padding: 16px;
      font-size: 1rem;
      line-height: 1.25rem;
      border: 1px solid transparent;

      //removendo input styles
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      &[type=number] {
        -moz-appearance: textfield;
      }


      &.ng-invalid.ng-touched {
        border-color: $color-red;
      }
    }

    select {
      padding: 0 16px;

      option {
        color: $color-preto;
      }
    }

    .text-error {
      color: $color-red;
      font-size: 0.875rem;
    }
  }

  &__submit {
    display: flex;
    margin-top: 32px;
    button {
      width: 100%;
      height: 48px;
      border-radius: 8px;
      background: $color-amarelo;
      color: $color-branco;
      box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);

      span {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }

  &__register {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;

    span {
      font-size: 1rem;
      line-height: 1.25rem;
      a {
        color: $color-amarelo;
        font-weight: 700;
      }
    }
  }
}

.atendMode {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: unset;
  gap: 20px;
  margin-top: 32px;

  .register__submit {
    display:flex;
    align-items: flex-end;
  }

  @media(max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 450px) {
    grid-template-columns: repeat(1, 1fr);
  }
}