<nav>
  <ul>
    <li>
      <a routerLink="agendamentos"><fa-icon [icon]="faClipboardList" class="navIcon" aria-hidden="true"></fa-icon>agendamentos</a>
    </li>
    <li>
      <a routerLink="services"><fa-icon [icon]="faWrench" class="navIcon" aria-hidden="true"></fa-icon>Serviços</a>
    </li>
    <li>
      <a routerLink="atendente"><fa-icon [icon]="faUsers" class="navIcon" aria-hidden="true"></fa-icon>Atendentes</a>
    </li>
  </ul>
  <div class="logout">
    <p class="logout__msg">Olá, <span class="logout__msg__name">Carlos</span>!</p>
    <button type="button" (click)="onLogout()">Sair</button>
  </div>
</nav>
