.footer {
  margin-top: 60px;
  height: 100%;
  figure {
    display: flex;
    justify-content: center;
    img {
      max-width: 200px;
    }
  }
  &__text {
    text-align: center;
    margin-top: 20px;
  }
  @media(max-width: 380px) {
    margin-top: 0;
  }
}