<main class="atendentes">
  <div class="atendentes__header">
    <h1 class="atendentes__header__title">
      Atendentes
    </h1>

    <a *ngIf="role === 'ROLE_ADM'" class="atendentes__header__btn" routerLink="/app/atendente/create">novo atendente</a>
  </div>

  <div class="loader" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>

  <div class="atendentes__body" *ngIf="!isLoading">
    <p *ngIf="atendentes.length === 0">Não existe nenhum atendente cadastrado no momento.</p>
    <app-card-atendentes 
      *ngFor="let atendente of atendentes; let i = index"
      [atendente]="atendente"></app-card-atendentes>
  </div>
</main>