<div class="card">
  <div class="card__header">
    <button type="button" *ngIf="role === 'ROLE_ADM'"><fa-icon [icon]="faTrash" class="icon" (click)="onDelete(+atendente.id)"></fa-icon></button>
    <h2 class="card__header__name">{{atendente.nm_Funcionario}}</h2>
    <p class="card__header__email"><strong>Email:</strong> {{atendente.ds_Email}}</p>
    <p class="card__header__phone"><strong>Celular:</strong> {{atendente.cd_Celular}}</p>
    <p class="card__header__role" *ngIf="role === 'ROLE_ADM'"><strong>Cargo:</strong> {{atendente.authority}}</p>
  </div>
</div>