<main class="sobre">
  <div class="sobre__header">
    <h1 class="sobre__header__title">Sobre a aplicação</h1>
  </div>

  <p>Essa aplicação foi desenvolvida por: </p>

  <div class="sobre__content">
    <div class="group">
      <p><span>Carlos Eduardo Martins</span></p>
      <p><span>RA:</span> 0050831921041</p>
      <a href="https://www.github.com/carlosemartins97">Github</a>
    </div>
    <div class="group">
      <p>Cyro Fernandes</p>
      <p><span>RA:</span> 0050831921005</p>
      <a href="https://www.github.com/cyro55">Github</a>
    </div>
    <div class="group">
      <p>Henrique Marchioni</p>
      <p><span>RA:</span> 0050831921010</p>
      <a href="https://www.github.com/HeMarchioni">Github</a>
    </div>
  </div>
</main>