<main class="services">
  <div class="services__header">
    <h1 class="services__header__title">
      Serviços
    </h1>

    <a *ngIf="role === 'ROLE_ADM'" class="services__header__btn" routerLink="/app/services/create">novo serviço</a>
  </div>

  <div class="loader" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>

  <div class="services__body" *ngIf="!isLoading">
    <p *ngIf="servicos.length === 0">Não existe nenhum serviço cadastrado no momento.</p>
    <app-card-service
      *ngFor="let serv of servicos; let i = index" 
      [servico]="serv"
      (deleteClicado)="onDeleteClicado()"></app-card-service>
  </div>

</main>